.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message {
  position: fixed;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  height: 100%;
  height: 300px;
  background: #ccc;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1000;
}

.error-message h1 {
  height: 70px;
  padding: 20px;
  text-align: center;
  text-justify: auto;
  background-color: blue;
}

.error-message .body {
  color: #333;
}

.body p {
  margin: 50px;
  font-size: 20px;
}

.error-message button {
  background: #282c34;
  color: #ccc;
  padding: 0.8rem 1.2rem;
  margin-top: 10px;
  font-size: 1rem;
  border-radius: 5px;
}
