.users-list {
  background: #ccc;
  color: #333;
  width: 700px;
  line-height: 1.2rem;
  padding: 2rem 3rem;
  border-radius: 15px;
  margin: 30px;
  text-align: left;
}

.users-list li {
  list-style: none;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 0.5em;
  margin-bottom: 8px;
}

.users-list li:last-child {
  margin: 0;
}
